<div class="container my-5">
  <h1 class="mb-4">Cats List Page</h1>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Creator</th>
        <th>Actions</th>
        <th class="bg-light text-secondary">Created At</th>
        <th class="bg-light text-secondary">Updated At</th>
      </tr>
    </thead>
    <tbody>
      <% @cats.each do |cat| %>
        <tr>
          <td><%= cat.name %></td>
          <td>
            <%= display_color_block(cat.color) %>
            <%= cat.color %>
          </td>
          <td><%= link_to (cat.user ? cat.user.username : "Unknown"), (cat.user ? user_path(cat.user) : "#"), class: 'text-decoration-none' %></td>
          <td>
            <%= link_to 'Show', cat_path(cat), class: 'btn btn-info btn-sm me-2' %>
            <% if logged_in? && cat.user == current_user %>
              <%= link_to 'Edit', edit_cat_path(cat), class: 'btn btn-warning btn-sm me-2' %>  
              <%= link_to "Delete this cat", "#", data: { bs_toggle: "modal", bs_target: "#deleteModal", bs_url: cat_path(cat) }, class: "btn btn-danger btn-sm" %>
            <% end %>
          </td>
          <td class="bg-light text-secondary"><%= cat.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
          <td class="bg-light text-secondary"><%= cat.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- Control Row for Pagination and Button -->
  <div class="d-flex justify-content-between align-items-center mt-3">
    <div>
    <%= link_to 'Home page', root_path, class: 'btn btn-secondary' %>
    <% if logged_in? %>
      <%= link_to "Create new cat", new_cat_path, class: 'btn btn-primary' %>
    <% end %>
    </div>
    <div>
     <%= paginate @cats %>
    </div>
  </div>
  
</div>
